@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,700&display=swap");

$black: #212121;
$green: #00c300;
$gold: #f7df1e;
$blue: #0278ff;
$orange: #ff3f00;
$red: #ba0000;

$spacer: 15px;
$buttonSize: 50px;

$mobile: 375px;
$tablet: 768px;
$desktop: 992px;

@mixin maxWidth($width: $tablet) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin minWidth($width: $tablet) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin RoundButton($color: "grey", $content: "") {
    display: inline-block;
    position: relative;
    background: $color;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;

    &:after {
        content: $content;
        font-size: 40px;
        text-align: center;
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        color: white;
    }
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: $black;
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: Barlow, Helvetica, Arial, sans-serif;
}

#root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
}

.scroll-container {
    height: calc(100vh - 130px);
    width: 100%;
    overflow: scroll;
}

.list-wrap {
    display: flex;
    flex-wrap: wrap;
}

nav {
    height: 50px;
    background: #212121;
    display: flex;
    justify-content: flex-end;
    padding: 0px 60px;
    align-items: center;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;

    a {
        color: white;
        text-decoration: none;
        margin: 15px;
        font-size: 18px;
        border-bottom: solid 4px transparent;
        line-height: 45px;
        width: 80px;
        text-align: center;

        &.gold {
            color: $gold;
            border-color: $gold;
        }

        &.orange {
            color: $orange;
            border-color: $orange;
        }

        &.blue {
            color: $blue;
            border-color: $blue;
        }
    }
}

.input-wrap {
    input {
        height: 30px;
        padding: 15px;
        border-radius: 6px;
        border: solid 2px;
    }
}

.film-wrap {
    display: block;
    align-items: center;
    margin-bottom: $spacer;
    margin-left: $spacer;
    position: relative;
    background-color: lightgray;
    padding: $spacer;
    width: 400px;

    .film-img-wrap {
        overflow: hidden;
        text-align: center;

        img {
            width: 160px;
            min-height: 240px;
            margin: 0 auto;
            position: relative;
            height: auto;
        }
    }

    .film-data {
        display: inline-block;
        width: 75%;
        padding: 0 15px;
        vertical-align: middle;
        height: 120px;

        h2 {
            font-size: 18px;
        }
    }

    .remove {
        @include RoundButton($red, "-");
    }
    .add {
        @include RoundButton($green, "+");
    }
}
